.ids__navbar {    
    display: block;
    position: fixed;
    top: 0.3em;
    left: 0.3em;
    z-index: 1;
}

.ids__navbar ul li {
    font-size: 0.8em;
    border: solid 1px transparent;
    
    padding: 0;
    margin-bottom: 0;
    
    &::before {
        content: '';
    }
    
    a {
        padding: 0.2em 0.5em 0.2em 0.3em;
        border-radius: 0.2em;
        display: block;
        text-decoration: none;
    }
}

.ids__navbar .current {

    a {
        background-color: rgba(var(--ids__link-RGB), 0.1);

        &:hover {
            background-color: rgba(var(--ids__hover-RGB), 0.1);
        }
    }
    
}
.ids__nav-item {
}
