.ids__promo-block {
  display: grid;
  gap: 0.2em;
  position: relative;
  touch-action: pan-y;

  & > img {
    display: block;
    grid-area: 1/1;
    width: 100%;
    aspect-ratio: var(--img-aspect-ratio, 1/1);
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    visibility: hidden;
    transition: filter 500ms ease;
  }

  & > img:first-child {
    visibility: visible;
  }

  & > a::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
  }

  &:hover {
    &:has(a) > img {
      filter: brightness(102%);
      transition: filter 0s;
    }
  }

  .ids__promo-block__pos {
    text-align: center;
    font-variant-numeric: tabular-nums;

    &::before {
      content: attr(data-index) "/" attr(data-count);
    }
  }

  .ids__promo-block__dots {
    display: flex;
    justify-content: center;
    gap: 0.4em;

    .ids__promo-block__dot {
      width: 0.4em;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: rgb(var(--ids__surface-RGB));
    }

    .ids__promo-block__dot-active {
      background-color: rgb(var(--ids__text-RGB));
      order: var(--index) !important;
    }
  }

  .ids__promo-block__dashes {
    display: flex;
    justify-content: center;
    gap: 0.4em;

    .ids__promo-block__dash {
      width: 0.5em;
      height: 0.2em;
      background-color: rgb(var(--ids__text-RGB));
      transition: width 200ms ease;
    }

    .ids__promo-block__dash-active {
      width: 1.4em;
    }
  }
}

