.ids__inline-gallery {
  display: grid;
  gap: 0.2em;
  position: relative;
  touch-action: pan-y;

  & > img {
    display: block;
    grid-area: 1/1;
    width: 100%;
    aspect-ratio: var(--img-aspect-ratio, 1/1);
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    visibility: hidden;
    transition: filter 500ms ease;
  }

  & > img:first-child {
    visibility: visible;
  }

  & > a::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
  }

  &:hover {
    &:has(a) > img {
      filter: brightness(105%);
      transition: filter 0s;
    }
  }

  .ids__inline-gallery__pos {
    text-align: center;
    font-variant-numeric: tabular-nums;

    &::before {
      content: attr(data-index) "/" attr(data-count);
    }
  }

  .ids__inline-gallery__dots {
    display: flex;
    justify-content: center;
    gap: 0.6em;

    .ids__inline-gallery__dot {
      width: 0.3em;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: rgba(var(--ids__text-RGB), 0.2);
    }

    .ids__inline-gallery__dot-active {
      background-color: rgba(var(--ids__text-RGB), 1);
      order: var(--index) !important;
      
    }
  }

  .ids__inline-gallery__dashes {
    display: flex;
    justify-content: center;
    gap: 0.4em;

    .ids__inline-gallery__dash {
      width: 0.5em;
      height: 0.1em;
      border-radius: 0.05em;
      background-color: rgba(var(--ids__text-RGB), 0.5);
      transition: width 100ms ease, background-color 100ms ease;
    }

    .ids__inline-gallery__dash-active {
      width: 1.5em;
      background-color: rgba(var(--ids__text-RGB), 1);
    }
  }
}

